node_modules  
 
 mongo atlas:   user:BrMaia password:Br22032001@br123
 
 mongodb+srv://brmaia:U8aGHZ18CXxq7qBJ@cluster0.q4q08.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0 
 
 .env  
  
   
   AIzaSyDcGF7w_8OUwgDEx_KaVYoCRCyADQW4gHI
 